* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

canvas {
    background: black;
}

.flex {
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    gap: 1rem;
    top: 2%;
    right: 2%;
    font-size: 2.5rem;
    user-select: none;
    #score,
    #timer {
        color: whitesmoke;
    }
}

.menu {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    top: 40%;
    right: 45%;
    text-align: center;
    /* align-items: center; */
    /* justify-content: right; */
    font-size: 2.5rem;
    user-select: none;
    color: white;
    .restart-menu {
        display: none;
    }
}
